
.Rproj.user
*.out
*.log
*.bbl
.Rhistory
.RData
smsim-course-materials.blg
smsim-course-materials.aux
smsim-course-materials.idx
smsim-course-materials.ilg
smsim-course-materials.ind
smsim-course-materials.tex.backup
smsim-course-materials.tex~
