---
layout: base
---

<div class="row">
  <div class="sidebar span4">
    <img src="{{site.baseurl}}{{site.data.course.image}}">
    <ul class="nav nav-list">
      <li> <a href="/basics.html">Msim basics</a></li>
      <li> <a href="/literature">Literature</a></li>
      <li> <a href="/practicals">Practicals</a></li>
      <li> <a href="/code">Code</a></li>
      <li> <a href="/data">Data</a></li>
      <li> <a href="/further">Further study</a></li>
    </ul>
  </div>

  <div class="content span8">
    {{ content }}
    {% if site.disqus_shortname %}
      <hr/>
      {% include disqus.html %}
    {% endif %}
  </div>

</div>

